/* Emakina Styling 
Autor: Jan-Dennis Drenkhahn
Version: 1.0.0
*/

/* popup styling */
.wf-overlay {
    position:fixed;
    background:rgba(0,0,0,50%);
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:9999;
}

.wf-popup {
    transform: translate(-50%, -50%); 
    position: fixed; 
    left: 50%; 
    top: 50%; 
    padding:20px; 
    background: white; 
    border: 1px solid black; 
    box-shadow: 1px 3px 15px 5px rgba(0,0,0,0.32);
}

.wf-popup-closs {
    float:right;
    border-radius:50%;
    width:20px;
    height:20px;
    line-height:0.1;
}

.wf-button {
    background: url(https://avatars.githubusercontent.com/u/767504?s=400&u=d0a32a535c83ebde083450c51552e0496b0735d2&v=4);
    background-size:cover;
    width:30px;
    height:30px;
}

.wf-popup-btn-ctn {
    margin: 5px 0 0 0;
}

.wf-popup-btn-ctn-inner {
    margin: 5px 0 0 0;
    display: flex;
    justify-content: space-around;
}

.wf-popup-save-btn {
    width: 50px;
    padding: 4px;
    border-radius: 5px;
    background: #0D66D0;
    color: #fff;
    border: 2px solid transparent;
    transition: 0.3s ease-in;
}

.wf-popup-save-btn:hover {
    background: #fff;
    color: #0D66D0;
    border-color:#0D66D0;
}

.wf-popup-cancle-btn {
    width: 50px;
    padding: 4px;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #0D66D0;
    color: #0D66D0;
    transition: 0.3s ease-in;
}

.wf-popup-cancle-btn:hover {
    background: #0D66D0;
    color: #fff;
    border-color: transparent;
}

.wf-info-text {
    font-size: 12px;
}

.wf-info-text::before {
    content: "\2139"; 
    border: 1px solid #000;
    padding: 2px 8px;
    border-radius: 50%;
    margin-right: 5px;
}
