body {
    background-color: #000;
    color: red;
}

#main-content {
    background: #000;
}

body.global-timesheet-improvements .timesheet-saving-panel>div>button.btn-secondary:disabled {
    color: red;
    background-color: #000;
}