/* Emakina Styling 
Autor: Jan-Dennis Drenkhahn
Version: 1.0.0
*/

.wkday.today.w1 {
    background-color: lemonchiffon;
}

body.global-timesheet-improvements .timesheet-saving-panel>div>button.btn-secondary:disabled {
    background-color: #b3d6f3;
    border-color: #b3d6f3;
    color: #fff;
}